<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.prestopucp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrestoPUCP"
        tools:targetApi="31">
        <activity
            android:name=".usuarioCliente.UsuarioClienteActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCcfy4YQ4n9CyKz0OgPt-S58FUyYon0Sjw" />

        <activity
            android:name=".usuarioti.uti_aceptarsolicitud"
            android:exported="false"
            android:parentActivityName=".UsuarioTI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usuarioti.uti_rechazarsolicitud"
            android:exported="false"
            android:parentActivityName=".UsuarioTI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usuarioti.uti_editardispositivo"
            android:exported="false"
            android:parentActivityName=".UsuarioTI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usuarioti.uti_agegardispositivo"
            android:exported="false"
            android:parentActivityName=".UsuarioTI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UsuarioTI"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Inicio"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>